@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {font-family: "Poppins", sans-serif!important; box-sizing: border-box; }
:root {
  --blue: rgba(45, 156, 219, 1);
  --offgray: #EFF2F5;
  --offwhite: #f5f5f5;
  --offblack: #424242;
  --graywhite: #DADADA;
  --darkblue: #2B4162;
}

html {width: 100vw; overflow-x: hidden; min-height: 100vh;}

.flex-center-spacebetween {display: flex; align-items: center; justify-content: space-between;}
.flex-center-center {display: flex; align-items: center; justify-content: center; }
.flex-center-start {display: flex; align-items: center; justify-content: flex-start;}
.flex-start-center {display: flex; align-items: flex-start; justify-content: center;}
.flex-column {flex-direction: column;}
.flex-end-end {display: flex; align-items: flex-end; justify-content: flex-end;}
.flex-wrap {flex-wrap: wrap;}
.flex-start-start {display: flex; align-items: flex-start; justify-content: flex-start;}
.flex-start-end {display: flex; align-items: flex-start; justify-content: flex-end;}
.flex-end-start {display: flex; align-items: flex-end; justify-content: flex-start;}
.flex-start-spacebetween {display: flex; align-items: flex-start; justify-content: space-between;}

h1 {margin: 0!important; font-size: 48px; line-height: 54px; font-weight: 600;}
h1 em {color: var(--blue); font-style: normal!important;}
h2 {margin: 0!important; font-size: 28px; line-height: 36px; font-weight: 500;}
h3 {margin: 0!important; font-size: 24px; line-height: 30px; font-weight: 400; color: var(--offblack);}
h4 {font-weight: 400; font-size: 18px; line-height: 24px;}
h5 {margin: 0!important; font-weight: 300;}
h6 {margin: 0!important; font-weight: 200; font-size: 12px; font-style: italic;}
p {font-weight: 400; font-size: 15px; line-height: 24px; margin: 8px 0px;}
em {color: var(--blue); font-style: normal!important;}
blockquote {padding-left: 10px; border-left: 2px solid var(--blue)}
.mobile-flex-wrap {flex-wrap: unset;}
ul {margin-left: 0!important;}
@media screen and (max-width: 900px) {
  h1 {font-size: 32px; line-height: 38px;}
  
}

.basic-padding {padding: 25px 50px;}

.bold {font-weight: 600;}
.blue-text {color: var(--blue)}
.white-text {color: white!important;}
.icon {width: 75px; height: auto;}
.hover:hover {
    cursor: pointer;
    transform: scale(1.01);
  }

.block {width: 75%;}
.box-shadow {box-shadow: 0px 1px 6px rgba(0,0,0,0.25);}
.gray-box-shadow {box-shadow: 0px 2px 5px gray;}
.container-padding {margin: 5vw;}
button {cursor: pointer; padding: 5px 8px; text-decoration: none; margin-right: 10px; border-radius: 8px; font-size: 14px; font-weight: 400; }
.button {cursor: pointer; padding: 5px 8px; text-decoration: none; margin-right: 10px; border-radius: 8px; font-size: 14px; font-weight: 400; }

.large-button {padding: 8px 16px!important; font-size: 16px!important; border-radius: 8px;}
.xlarge-button {padding: 13px 32px!important; font-size: 20px!important; border-radius: 8px;}

.styled-button {background-color: var(--blue); color: white; border: 2px solid var(--blue)}
.styled-button:hover {background-color: white; color: var(--blue); border: 2px solid var(--blue);}

.styled-button-inverted {background-color: white; color: var(--blue); border: 2px solid var(--blue);}
.styled-button-inverted:hover {border: 2px solid black; color: black;}

.blue-outline-button {background: white; border: 2px solid var(--blue); color: var(--blue);}

.blue-outline-button:hover {background: var(--blue); color: white!important; }

body:not(.button-style-default) .sqs-editable-button {background-color: var(--blue); text-decoration: none; padding: 10px; color: white; border: none; border-radius: 8px; text-transform:none; font-family: 'Poppins', sans-serif; font-size: 18px; font-weight: 500; letter-spacing: unset!important; font-weight: 400; margin: 0; border-radius: 8px!important;}
.sqs-block-button .sqs-block-button-element--medium {background-color: var(--blue); text-decoration: none; padding: 10px; color: white; border: none; border-radius: 8px; text-transform:none; font-family: 'Poppins', sans-serif; font-size: 18px; font-weight: 500; letter-spacing: unset!important; font-weight: 400; margin: 0;}
.sqs-block-button .sqs-block-button-element--large {padding: 5px 20px; background: none; border: 4px solid var(--blue); border-radius: 8px; margin: 0; color: var(--blue); font-size: 18px!important; text-decoration: none; text-transform:none; font-family: 'Poppins', sans-serif; letter-spacing: unset!important; font-weight: 400;}

main {padding: 5vw;}
// Main Navigation
.site-header {height: 98px; width: 100%;}
.site-navigation {padding: 15px;  background: var(--offwhite); z-index: 20; flex-basis: auto;  }
.site-logo {max-width: 200px;}
.site-navigation-list {list-style-type: none; flex-basis: auto;}
.site-navigation-item {margin: 0px 10px; white-space: nowrap;}
.site-navigation-item-link {color: var(--blue);  text-decoration: none;}
.active-link {font-weight: 700;}
.site-navigation-item:hover { font-weight: 600; }
@media screen and (max-width: 700px) {
  .site-navigation {flex-wrap: wrap; flex-direction: column; }
  .site-navigation-list { width: 100%; flex-wrap: wrap; }
  .site-navigation-item {margin: 5px 10px;}
  .site-header {height: 160px}
  .site-logo {margin-top: 25px;}
}

// Main CMS Injection


// Homepage Hero Block
.radial-gradient { background: linear-gradient(-209deg, rgba(255,255,255,1) 40%, var(--blue) 40%);}
#heroBlock {height: 600px;  background-size: 700px; z-index: 0;  width: 100vw; background-origin: 20% 20%; background-repeat: no-repeat; background-position: 40vw 0%;}

.heroText-wrapper {max-width: 500px; width: 75%; margin: 5vw 5vw 0px;  }
.heroDownload-wrapper {  padding: 50px 5vw; z-index: 3;}


//Tabs block
#tabsBlock { z-index: 3; width: 100%;}
.tab-bar {z-index: 8;}
.tab-content {padding: 50px;}
.tab { background: var(--offwhite); box-shadow: -1px 0px 4px rgba(0,0,0,0.25); margin: 0 10px 0 0; padding: 10px 5vw 15px 5vw;  font-size: 18px; border-radius: 6px 6px 0px 0px; border: none;}
.tab-container {border-radius: 0 6px 6px 6px;  background: white;  }
.active-tab {background: white; }
.active-tab h5 {font-weight: 500!important;}
.inline-icon-text {padding: 0px 0px 10px}
.inline-icon-text .icon {margin-right: 10px; padding: 10px;}
@media screen and (max-width: 700px) {
  .tab-content {padding: 25px;}
  
}

// forRestaurants6.block (slider)

//Homepage How It Works Block
#howItWorksBlock {width: 100%; padding: 50px 5vw; background-color: #f5f5f5 }
.howItWorksBlock-item {width: 100%; padding: 25px;}
.howItWorksBlock-img {width: 100px!important; height: 100px; margin-bottom: 15px;}

@media screen and (max-width: 900px) {
  #howItWorksBlock-wrapper  {flex-direction: column!important;}
  .heroDownload-wrapper  {justify-content: center!important;}
}

//Restaurant Snippet Container 






//Press Features
.feature-container {padding: 50px 0}
.feature-container h2 { text-align: center; padding: 25px 0px 15px;}
#press-contents {overflow-x: scroll; scroll-behavior: smooth; scrollbar-width: none;}
#press-contents::-webkit-scrollbar {
  display: none;
}

.press-item-container {margin: 10px 25px; max-width: 350px; height: 300px;}
.article-item-img {height: 75px; width: 300px; margin-bottom: 15px; background-size: contain; background-position: center center; background-repeat: no-repeat; }
.press-title {font-style: italic; color: black; text-align: center; text-decoration: none;}
.press-item-excerpt {font-style: italic; text-align: center; color: gray; font-size: 12px; margin: 0!important;}
.podcast-item-img {height: 200px; width: 200px; background-size: cover; background-position: center center;}


.press-list-container {background-color: var(--blue); padding: 25px; }
@media screen and (max-width: 1200px) {
  .restaurant-snippet-info {display: block!important;}
  .press-list-container .article-container {justify-content: center!important;}
 
}

// Blog

.blog-image {width: 100%; height: 250px; background-size: cover; background-position: center center; background-repeat: no-repeat;}
.blog-list-item {margin-right: 25px; margin-bottom: 25px; width: 100%; min-width: 350px; max-width: 20vw;}
.blog-title {font-weight: 600; font-size: 18px; line-height: 24px; margin: 0; }
.blog-title a {color: black; text-decoration: none;}
.blog-info-container {padding: 10px 25px; background-color: var(--offgray)}
.blog-meta a {color: var(--blue); font-size: 12px; text-decoration: none; font-weight: 400; }


.blog-page-header {z-index: -1; width: 100%;  background-size: cover;  background-repeat: no-repeat; padding: 100px 0 0;}
.blog-page-title {margin: 50px; background: var(--blue);  max-width: 550px; }
.blog-page-title h1{padding: 25px;  color: white; }
.blog-page-title .meta {padding: 0px 25px 10px;}
.blog-page-title .meta a {color: white;}
.blog-content-wrapper {padding: 50px;}
.blog-page {margin: 50px 0px}
.blog-page-header .meta, a{text-decoration: none; font-size: 14px; color: black; }
.blog-page-header .meta a:hover {font-weight: 500;}


.blog-author-container {padding: 25px; margin: 15px 0px; background: var(--offgray); border-radius: 6px;}
.blog-author-image {height: 100px; min-width: 100px; max-width: 100px; border-radius: 50px; border: 2px solid var(--blue); background-size: cover; background-position: center center; }

@media screen and (max-width: 800px) {
  .blog-list-item {min-width: unset; max-width: unset;}
  
}


// Directory 
.category {padding: 0px 10px; background-color: white;  margin: 5px; border-radius: 20px;}
.category a { font-size: 14px;}
.category-filter {background: var(--offgray); padding: 0 10px; border-radius: 15px; margin: 5px; color: black;}
.category-filter p {font-size: 12px;  line-height: 12px;}
.active-category {background-color: var(--offblack)!important; color: white!important; border: 1px solid white!important;}
.category:hover {border: 1px solid black;}
.directory-filter {background: var(--blue);  margin: -20px 0 0;  padding: 10px 25px; width: 100%;}
.directory {border: 0.5px solid black; border-top-right-radius: 8px; border-top-left-radius: 8px;}
.directory-wrapper {padding: 0px 10px 25px;}


.directory-list-item {margin-bottom: 25px; width: 325px; margin:15px; height: auto; }
.filtered-restaurant {display: none;}
.verified-item {border: 2px solid var(--blue); border-radius: 8px;}
.directory-image {width: 100%; height: 100px; background-size: cover; background-position: center center; background-repeat: no-repeat; border-radius: 6px 6px 0px 0px; background-color: gray; background-image: url('../assets/basic-bg.png')}
.directory-logo-wrapper {margin-top: -65px; height: 80px;}
.directory-logo {height: 75px; width: 75px; margin-left: 15px; background-color: var(--graywhite); background-repeat: no-repeat; border-radius: 37px; background-size: 90%; background-position: center center; z-index: 2;}
.directory-city {color: black; font-size: 14px; background: white; padding:0 10px; margin-left: -2px; border-radius: 3px;}
.directory-logo-wrapper:hover .directory-city {opacity: 1;}

.directory-info-container {padding: 15px; background: white; border-radius: 6px;}
.category-label {font-size: 11px; color: black; background: var(--offgray); padding: 2.5px 10px; border-radius: 15px; border: 1px solid black;}
.category-label:hover {color: white; background-color: var(--blue); font-weight: 500;}
.tag-label {font-size: 11px; color: white; background: var(--blue); padding: 2.5px 10px; border-radius: 15px;}

.directory-buttons { padding: 15px;}

.verified-badge {height: 60px; margin-top: -15px;  z-index: 3;}
.unverified-restaurant {border: 2px solid rgba(0,0,0,0.25); border-radius: 8px;}
.unverified-restaurant:hover {opacity: 1;}

#verified-popup {
  position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(255,255,255,0.6); z-index: 300000000;
}
.pop-up {max-width: 1000px; padding: 50px; border-radius: 8px; border: 2px solid var(--offblack);}

// Dedicated Free Banner
.dedicated-free-banner {min-width: 385px; max-width: 24vw; width: 100%; height: 40px; background-image: url(../assets/dedicated-free-banner_1.png); background-size: 100% 100%; background-repeat: no-repeat; background-position: center center; 
 z-index: 2; margin-left: -35px;
}


@media screen and (max-width: 1000px) {
  .directory-wrapper {padding: 0px 25px 25px;}
  .category-filter p {font-size: 14px; color: black; line-height: 12px;}
  
}
#map {
  z-index: -1;
  height: 400px;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 0.5px solid black;
}

//Directory Item 
.directory-breadcrumb-parent {color: var(--offblack); font-size: 32px; font-weight: 300;}
.directory-breadcrumb-child {color: var(--blue); font-size: 32px; font-weight: 500;}
.directory-image-lg {width: 100%; background-size: cover; background-image: url('../assets/basic-bg.png'); background-position: center center; background-repeat: no-repeat; border-radius: 6px 6px 0px 0px; padding: 25px;}
.directory-image-lg .verified-badge {height: 80px}
.directory-logo-wrapper-lg {height: 100px; margin-top: -90px;  }
.directory-logo-wrapper-lg .directory-logo {height: 100px; width: 100px; border-radius: 120px;}
.directory-page-address{color: black; font-size: 14px; background: rgba(255, 255,255,0.85); padding: 0px 15px; margin-left: -10px; margin-right: 25px; border-radius: 3px;}


.directory-header-wrapper {padding: 25px 0px; margin-top: 25px; width: 100%; }

.directory-header-info{color: black; font-size: 14px; background: rgba(255, 255,255,0.85); padding: 15px 15px 15px 75px; width: 100%; margin-left: -50px; border-radius: 3px;}
.direction-icon {height: 40px; margin: 10px;}
.directory-header-logo-container {z-index: 2;}
.directory-header-logo-container img {height: 150px; border-radius: 75px; border: 1px solid black; z-index: 2;}

@media screen and (max-width: 800px) {
  .directory-wrapper {padding: 0px 25px 25px;}
  .directory-header-logo-info {flex-wrap: wrap;}
  .category-filter p {font-size: 14px; color: black; line-height: 12px;}
  .directory-header-info {padding: 15px; margin-left: unset;}
  .directory-header-logo-container {width: 100%; margin-top: -100px; text-align: center; }
  
}

// Tabs

.restaurant-tab-container {margin-top: -37px;}
.tab-button {font-size: 16px; margin: 0; border: none; background-color: var(--offwhite); color: black; padding: 5px 25px; border-radius: 8px 8px 0px 0px; }
.active-tab-button {font-size: 16px; padding: 2px 0px; margin: 0!important; border: none; background-color: var(--blue); color: white; padding: 5px 25px; border-radius: 8px 8px 0px 0px; border: 1px solid black; border-bottom: 2px solid var(--offgray)!important; z-index: 2;}
#tab2 {padding: 25px;}
.directory-tab {border-top: 3px solid white;}
.iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* Aspect ratio 16:9 (change as needed) */
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#mymeal-menu-iframe {height: 60vh;}

.directory-tab {display: none;  border: 1px solid black; border-radius: none; margin-top: -1px; z-index: 2;}
.visible-tab {display: block!important;}

//FullScreen Region 
.full-screen-body { height: 100vh;
   background-size: cover; background-position: center center; 
  
}
.simple-nav {background: var(--offwhite)}
.full-screen-content-container {background: rgba(255, 255,255,0.85); height: 100%;}
//Footer 
footer {margin-top: 25px; background: var(--blue); background-image: url('../assets/footer-decoration.png'); background-size: 110%; background-position: center bottom; background-repeat: no-repeat;}
.footer-copy { padding: 5vw; color: white; text-align: center;}
.footer-navigation-item {list-style-type: none; padding: 2px; margin: 0!important;}
.footer-navigation-item-link {color: white!important;}
.active-footer-link {color: white!important; text-decoration: underline;}

#homepage {height: 50px; }
// Squarespace Blocks
.sqs-block {padding: 0!important;}
.sqs-layout > .sqs-row {margin: 0!important;}
.form-wrapper {display: flex; align-items: center; justify-content: center;}
.react-form-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 5vw;
  max-width: 500px;
  padding: 50px;
  background: white;
  border-radius: 8px;
  flex-direction: column;
}
.form-item {display: flex; align-items: center; justify-content: center;}
.comment-btn {background-color: var(--blue); color: white; border: 2px solid var(--blue)}
.comment-btn:hover {background-color: white; color: var(--blue); border: 2px solid var(--blue);}

.summary-title a {font-weight: 500; font-size: 18px!important;}
.summary-item {padding: 15px 15px; border-radius: 4px; background: var(--offwhite);}
.sqs-dynamic-text p{font-family: 'Poppins', sans-serif!important;}
.image-title {font-size: 32px!important; font-family: 'Poppins', sans-serif!important;}

.image-block-card-dynamic-font-sizing .sqs-block-image .design-layout-card .image-title p {
  font-weight: unset!important;
  font-style: unset!important;
  text-transform: unset!important;
}

.image-block-card-dynamic-font-sizing .sqs-block-image .design-layout-card .image-subtitle p {
  font-weight: unset!important;
  font-style: unset!important;
  text-transform: unset!important;
}
.sqs-block-image .design-layout-overlap .image-subtitle p {
  font-weight: unset!important;
  font-style: unset!important;
  text-transform: unset!important;
  
}
.image-block-card-dynamic-font-sizing .sqs-block-image .design-layout-card .image-subtitle-wrapper {
  font-size: 15px!important;
}

.image-subtitle .sqs-dynamic-text {font-size: unset!important;}

.min-font-set {font-size: 15px!important;}
.sqs-announcement-bar-content {background: var(--blue)!important; padding: 10px 0px; }
.sqs-announcement-bar-url {padding: 10px 0px; color: white!important; letter-spacing: unset !important; font-family: 'Poppins', sans-serif!important; font-size: 16px!important;}